################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/UnitTests/bin/Debug/net8.0
/UnitTests/obj/Debug/net8.0
/UnitTests/obj/Release/net8.0
/UnitTests/obj/project.assets.json
/UnitTests/obj/project.nuget.cache
/UnitTests/obj/UnitTests.csproj.nuget.dgspec.json
/UnitTests/obj/UnitTests.csproj.nuget.g.props
/UnitTests/obj/UnitTests.csproj.nuget.g.targets
/SistemaManutencaoMotos/obj
/Persistence/bin/Debug/net8.0
/Persistence/obj/Debug/net8.0
/Persistence/obj/Release/net8.0
/SistemaManutencaoMotos/bin/Debug/net8.0
/Persistence/obj
/IntegrationTests/bin/Debug/net8.0
/IntegrationTests/obj/Debug/net8.0
/IntegrationTests/obj/Release/net8.0
/IntegrationTests/obj
/Domain/bin/Debug/net8.0
/Domain/obj/Debug/net8.0
/Domain/obj/Release/net8.0
/Domain/obj
/Application/bin/Debug/net8.0
/Application/obj/Debug/net8.0
/Application/obj/Release/net8.0
/Application/obj
/.vs
